@media screen and (max-width: 992px) {
    html,
    body {
        height: auto;
    }

    .index_row .project div,
    .header_container .category div {
        height: unset;
    }
    #body {
        font-size: 15px !important;
    }

    .mobile_only {
        display: unset !important;
    }

    span.mobile_only {
        display: inline-block !important;
    }

    .desktop_only {
        display: none !important;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    * {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        font-size: 15px !important;
    }

    .layout_container {
        margin: 13px;
        width: calc(100vw - 26px);
        height: auto;
    }

    .firstbox {
        width: 100% !important;
    }

    .indexing {
        flex-direction: column;
    }

    .indexing .header_container {
        width: 100%;
    }

    .indexing .header_sub_container {
        width: 100%;
        top: 0px !important;
    }

    .indexing .header_sub_container .project {
        width: 100%;
    }

    .indexing .header_sub_container .year,
    .indexing .header_sub_container .program,
    .header_sub_menu {
        display: none;
    }

    .content_index {
        height: auto;
        max-height: max-content;
    }

    #container {
        height: auto;
        min-height: 90vh;
    }

    .footer_container {
        position: relative;
        width: 100%;
        margin-top: 13px;
        padding-bottom: 13px;
    }

    .footer_container div {
        width: 25%;
    }

    .footer_container div:first-child {
        width: 50%;
    }

    .view_filter {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #bababa;
        margin-top: 20px;
    }

    .index_row {
        height: unset;
    }

    .index_row .project div {
        position: relative;
    }

    .index_row .more_button {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .thumbnail_gallery {
        margin-top: 19px;
        height: auto;
    }

    .thumbnail_gallery div {
        width: 50%;
        padding: 0px;
        margin-bottom: 19px;
        align-items: flex-end;
        height: fit-content;
    }

    .thumb_container {
        display: none;
    }

    .mobile_thumb_container {
        position: absolute;
        z-index: 1;
        width: 50%;
        display: block;
        right: 25%;
    }

    .thumb_container img {
    }

    .thumbnail_gallery div:nth-child(2n + 1) {
        padding-right: 5px;
    }

    .thumbnail_gallery div:nth-child(2n) {
        padding-left: 5px;
    }

    .thumbnail_gallery div img {
        height: auto;
    }

    .about_menu,
    .about_content {
        flex-direction: column;
    }

    .about_menu .people,
    .about_content .people,
    .about_menu .introduction,
    .about_content .introduction,
    .about_menu .contact,
    .about_content .contact {
        width: 100%;
    }

    .about_content .people .people_row div {
        width: 25%;
    }

    /* TOPOF News */

    .news_content_container {
        margin-top: 20px;
        height: auto !important;
        border-top: none !important;
    }

    .news_header_sub_container {
        height: auto !important;
        padding-top: 0 !important;
    }

    .news_content_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .news_content_container .news_content_wrapper .news_module {
        width: calc(100% - 2px);
        border: none;
        margin-right: 0px !important;
        margin-left: 0px !important;
        height: auto;
        margin-bottom: 38px !important;
        min-height: 150px;
    }

    .news_date_row {
        border-left: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-left: 5px;
        margin-bottom: 4px;
    }

    .news_module_slideshow .slide div {
        display: block;
    }

    .news_module_slideshow .slideshow .slide {
        height: 350px;
    }

    .news_module_slideshow .slideshow .slide,
    .news_module_slideshow .slideshow .slide div img {
        height: auto;
        object-fit: contain;
    }

    .news_module_slideshow .slide div {
        width: 100%;
        height: 100%;
    }

    /* ENDOF News */

    /* TOPOF architecture */

    .architecture_header_sub_container {
        width: 100%;
        margin-top: 0 !important;
        height: auto;
    }

    .mobile_only_architecture_title_row {
        width: 100%;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-left: 5px;
        margin-bottom: 4px;
        margin-top: 4px;
        color: #000 !important;
        display: block;
    }

    .mobile_only_detail_information_row {
        border-top: none;
        width: 100%;
        left: 2px;
        top: 3px !important;
        display: flex !important;
        flex-direction: column;
        position: relative;
    }

    .mobile_only_detail_each_row {
        display: flex;
        width: 100%;
    }

    .mobile_only_detail_each_row > div:first-of-type {
        width: 25%;
    }

    .mobile_only_detail_each_row > div:last-of-type {
        width: 75%;
        padding-left: 5%;
    }

    .detail_information_row {
        border-top: none;
        width: 100%;
        left: 2px;
        top: 3px !important;
        display: flex !important;
        position: relative;
    }

    .detail_information_row > div:first-child {
        padding-left: 0;
        width: 25%;
    }

    .architecture_first_box {
        position: relative;
        flex-direction: column;
        height: auto;
        min-height: 0;
        margin-bottom: 60px;
    }

    .architecture_detail_image_container {
        position: unset;
        width: 100%;
        left: 0;
        right: 0;
        margin-top: 19px;
        top: 0;
        height: auto;
        max-height: auto;
    }

    .architecture_header {
        width: 0;
        height: 0;
    }

    .architecture_header_sub_container .more_information_box {
        width: 100%;
        border-top: none;
        border-bottom: 1px solid #000;

        display: flex;
        background-color: #fff;
        position: relative;
        bottom: 49px;
    }

    .architecture_header_sub_container .more_information_box .more_information_title span:last-child {
        left: unset;
        right: 0;
        z-index: 10;
    }

    .architecture_header_sub_container .more_information_box .more_information_text {
        width: 100%;
        position: absolute;
        top: 25px;
    }

    /* ENDOF architecture */

    .mobile_footer_container {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    /* TOPOF conceptual */

    .index_row .conceptual_project {
        width: 100%;
    }

    .architecture_header {
        display: none;
    }

    .conceptual_detail_information_row .conceptual_detail_row {
        padding-left: 0;
        margin-right: 0;
    }

    .conceptual_detail_information_row .conceptual_detail_row > div:first-child {
        width: 25% !important;
    }

    .conceptual_detail_information_row .conceptual_detail_row > div:last-child {
        width: 75%;
        padding-left: 5%;
    }

    .conceptual_header_sub_container {
        margin-top: 0px !important;
    }
    /* ENDOF conceptual */

    /* TOPOF about */

    .about_content .introduction p {
        line-height: 24px;
    }

    .about_content .introduction,
    .about_content .people {
        margin-bottom: 38px;
    }

    .about_content .contact {
        margin-bottom: 6px;
    }

    .about_content {
        margin-top: 20px;
    }

    .about_category_row {
        border-left: 1px solid #bababa;
        border-bottom: 1px solid #bababa;
        padding-left: 5px;
        margin-bottom: 4px;
    }

    .content_index .index_row .more_button {
        display: none;
    }

    .content_index .index_row .project div:hover > span,
    .content_index .index_row .conceptual_project div:hover > span {
        display: unset;
    }

    /* ENDOF about */
}
