@font-face {
    font-family: 	'Helvetica Neue Stmd';
    src: 			url('/static/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        			url('/static/fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 	normal;
    font-style: 	normal;
    font-display: 	swap;
}

@font-face {
    font-family: 	'Helvetica Neue Stbd';
    src: 			url('/static/fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        			url('/static/fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight:	normal;
    font-style: 	normal;
    font-display: 	swap;
}

* {
	font-family: 'Helvetica Neue Stmd', sans-serif;
}

#body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-flow: wrap;
}

.info_detail_mobile {
	display: none;
}

.color_block {
    background: linear-gradient(78deg, #0000ff, #1eced4, #e5f828, #ff5800);
    background-size: 800% 800%;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

.footer_inner_mobile {
	display: none;
}

.small_block,
.medium_block,
.large_block,
.xl_block {
	overflow: hidden;
}

.info_block > span {
	cursor: pointer;
}

#closeBtn {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	width: 42px;
	height: 42px;
	object-fit: cover;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}

#xlarge_ison_spblock {
	display: none;
}

.show {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% + 1px) !important;
	width: calc(100% + 1px) !important;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,0.8);
	display: block !important;
	z-index: 5;
	color: #fff;
}

.show > span:first-child {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 25px;
	font-weight: 900;
}

.show > span:last-child {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 19px;
}

.container:hover .show {
	opacity: 1;
}

.container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.secondrow div:first-child {
	background: #000;
}

.secondrow div:first-child img {
	object-fit: contain !important;
}


/* TOPOF Footer */

.footer_container {
	background-color:#000000;
	height: 105px;
	font-size: 17px;
	padding-left: 20px;
	letter-spacing: 0.5px;
}

.footer_inner {
	height: calc(100% - 20px);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 20px;
	text-align: left;
	color: #fff;
}

.footer_inner div {
	width: calc((100vw / 12) * 2);
	display: flex;
	flex-direction: column;
}

.footer_inner div:first-child {
	width: calc((100vw / 12) * 4);
}

.footer_inner div:first-child span {
	text-decoration: none;
}

.footer_inner span,
.footer_inner p {
	margin: 0;
	padding: 0;
}

.footer_inner span {
	margin-bottom: 2.5px;
	color: #fff;
	text-decoration: underline;
}

.footer_inner p {
	margin-right: 10px;
}

.footer_container .footer_inner .copyright {
	margin-top: 10px;
}



@media screen and (max-width: 911px) {
	.footer_inner div {
		width: calc((100vw / 8) * 2);
		display: flex;
		flex-direction: column;
	}

	.footer_inner div:first-child {
		width: calc((100vw / 8) * 4);
	}

	.footer_inner div:nth-child(4),
	.footer_inner div:nth-child(5) {
		display: none;
	}


}

/* ENDOF Footer */

@media screen and (min-width: 912px) and (max-width: 1459px) {
.color_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
}

.info_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
	position: relative;
}

.xl_block > img {
	object-fit: contain !important;
}

.overlay {
	width: 75%;
	position: absolute;
	top: 0;
	left: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 8);
	width: calc((100vw / 12) * 8);
	z-index: 10;
	display: block !important;
	color: #fff;
	transition: .5s ease;
	background-color: #000000;
  }

  .overlay > p {
	  width: calc(100% - 145px);
	  padding-left: 30px;
	  padding-top: 26px;
	  line-height: 31px;
	  font-size: 21px;
	  letter-spacing: 0.5px;
	  margin: 0;
  }


  .info_detail {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100%;
	height: 20%;
	width: 100%;
	padding-left: 30px;
	padding-top: 26px;
	position: absolute;
	bottom: 0;
}

.info_detail div {
		width: 50%;
		height: 50%;
}

.info_detail div p:first-child {
	font-size: 18px;
	text-decoration: underline;
	margin: 0;
	letter-spacing: 0.5px;
}

.info_detail div p:last-child {
	font-size: 21px;
	letter-spacing: 0.5px;
	margin: 0;
	margin-top: 5px;

}

.info_block > img {
	position: absolute;
	left: 15px;
	top: 15px;
	height: 50px;
}


.info_block span {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
	font-weight: 400;
}

.small_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
	position: relative;
}

.medium_block {
	width: calc((100vw / 12) * 8);
	height: calc((100vw / 12) * 4);
	position: relative;
}


.large_block {
	width: calc((100vw / 12) * 8);
	height: calc((100vw / 12) * 8);
	position: relative;
}

.xl_block {
	width: 100vw;
	height: calc((100vw / 12) * 8);
	position: relative;
}

.firstrow,
.secondrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr;
}

.firstrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.firstrow div:nth-child(2) {
	grid-column: 4 / 11;;
	grid-row: 1 / 3;
}


.firstrow div:nth-child(3) {
	grid-column: 1 / 4;
	grid-row:2/3;
}

.firstrow div:last-child {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.secondrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(2) {
	grid-column: 4 / 7;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(3) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(4) {
	grid-column: 1 / 8;
	grid-row: 2 / 3;
}

.secondrow div:nth-child(5) {
	grid-column: 7 / 11;
	grid-row: 2 / 3;
}

.secondrow div:last-child {
	display: none;
}

.thirdrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr 1fr;
}

.thirdrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(2) {
	grid-column: 4 / 7;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(3) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(4) {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.thirdrow div:nth-child(5) {
	grid-column: 4 / 11;
	grid-row: 2 / 4;
}

.thirdrow div:last-child {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

.forthrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.forthrow div:first-child {
	grid-column: 1 / 7;
	grid-row: 1 / 2;
}

.forthrow div:nth-child(2) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.forthrow div:nth-child(3) {
	grid-column: 1 / 11;
	grid-row: 2 / 4;
}

.forthrow div:nth-child(4) {
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}

.forthrow div:last-child {
	grid-column: 4 / 11;
	grid-row: 4 / 5;
}
}

@media screen and (min-width: 1460px) {
	.color_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
	}

	.info_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.info_block > img {
		position: absolute;
		left: 15px;
		top: 15px;
		height: 46px;
	}

	.info_block span
	{
		position: 		absolute;
		right: 			15px;
		top: 			15px;
		font-size: 		17px;
		font-weight: 	400;
	}

	.info_detail
	{
		display:        flex;
		flex-direction: row;
		flex-flow:      wrap;
		width: 			100%;
		height: 		auto;
		width: 			100%;
		padding-left: 	20px;
		padding-top: 	26px;
		position: 		absolute;
		bottom: 		0;
	}

	.info_detail div {
		width: 50%;
		height: auto;
		margin-bottom: 10px;
	}

	.info_detail div p:first-child {
		font-size: 15px;
		text-decoration: underline;
		margin: 0;
		letter-spacing: 0.5px;
	}

	.info_detail div p:last-child {
		font-size: 15px;
		letter-spacing: 0.5px;
		margin: 0;
		margin-top: 5px;

	}

	.overlay {
		position: absolute;
		top: 0;
		left: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 8);
		width: calc((50vw / 12) * 8);
		z-index: 10;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
	}

	#closeBtn {
		position: absolute;
		right: 20px;
		width: 32px;

	}

	.overlay > p {
		width: 85%;
		padding-left: 20px;
		padding-top: 20px;
		line-height: 26px;
		font-size: 18px;
		margin: 0;
	}

	.overlay > span {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		cursor: pointer;
	}

	.small_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.medium_block {
		width: calc((50vw / 12) * 8);
		height: calc((50vw / 12) * 4);
		position: relative;
	}


	.large_block {
		width: calc((50vw / 12) * 8);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.xl_block {
		width: 50vw;
		height: calc((50vw / 12) * 8);
		position: relative;
	}

	.firstrow {
		order: 1;
		width: 50vw;
		max-width: 50vw;
	}

	.secondrow {
		order: 3;
		width: 50vw;
		max-width: 50vw;
	}

	.thirdrow {
		order: 2;
		width: 50vw;
		max-width: 50vw;
	}

	.forthrow {
		order: 4;
		width: 50vw;
		max-width: 50vw;
	}

	.firstrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows:  1fr 1fr;
	}

	.firstrow + div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.firstrow div:nth-child(2) {
		grid-column: 4 / 11;
		grid-row: 1 / 2;
	}

	.firstrow div:last-child {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.special_block {
		grid-column: 4 / 11;
		grid-row: 1 / 3;
	}

	.special_block {
		width: calc((50vw / 12) * 8);
		height: calc((50vw / 12) * 8);
		position: relative;
	}

	#xlarge_ison_spblock {
		display: block;
		grid-column: 4 / 11;
		grid-row: 1 / 3;
	}

	#xlarge_isout_largeblock {
		display: none !important;
	}

	.secondrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(3) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(4) {
		grid-column: 1 / 8;
		grid-row: 2 / 3;
	}

	.secondrow div:nth-child(5) {
		grid-column: 7 / 11;
		grid-row: 2 / 3;
	}

	.secondrow div:last-child {
		grid-column: 1 / 11;
		grid-row: 3 / 5;
	}

	.secondrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows:  1fr 1fr 1fr 1fr;
	}


	.thirdrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: 1fr 1fr;
	}

	.thirdrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(3) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.thirdrow div:nth-child(5) {
		display: none;
	}

	#xlarge_ison_colorblock {
		grid-column: 4 / 7;
		grid-row: 2 / 3;
	}

	#xlarge_ison_smallblock {
		grid-column: 7 / 11;
		grid-row: 2 / 3;
	}

	.forthrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.forthrow div:first-child {
		grid-column: 1 / 7;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(2) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(3) {
		grid-column: 1 / 11;
		grid-row: 2 / 4;
	}

	.forthrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 4 / 5;
	}

	.forthrow div:last-child {
		grid-column: 4 / 11;
		grid-row: 4 / 5;
	}


}


@media screen and (max-width: 911px) {
	.color_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
	}

	.info_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		position: relative;
	}


	.info_block > img {
		position: absolute;
		left: 15px;
		top: 15px;
		height: 46px;
	}

	.info_block span {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 17px;
		font-weight: 400;
	}

	#closeBtn {
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		width: 28px;
		height: 28px;
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		width: calc((100vw / 8) * 4);
		z-index: 20;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.overlay > span {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		cursor: pointer;
	}


	.overlay > p {
		width: calc(100% - 58px);
		padding-left: 15px;
		padding-top: 30px;
		line-height: 25px;
		font-size: 18px;
		letter-spacing: 0.5px;
		margin: 0;
	}


	.info_detail {
	  display: flex;
	  flex-direction: row;
	  flex-flow: wrap;
	  width: 100%;
	  height: auto;
	  width: 100%;
	  padding-left: 15px;
	  padding-top: 26px;
	  position: relative;
	  bottom: 0;
  }

  .info_detail div {
		  width: 50%;
		  height: 50%;
		  margin-bottom: 10px;
  }

  .info_detail div p:first-child {
	  font-size: 17px;
	  text-decoration: underline;
	  margin: 0;
	  letter-spacing: 0.5px;
  }

  .info_detail div p:last-child {
	  font-size: 17px;
	  letter-spacing: 0.5px;
	  margin: 0;
	  margin-top: 2.5px;

  }

  .info_block > img {
	  position: absolute;
	  left: 15px;
	  top: 15px;
	  height: 52px;
  }

  .info_block span {
	  position: absolute;
	  right: 15px;
	  top: 15px;
	  font-size: 20px;
	  font-weight: 400;
  }

	.small_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		position: relative;
	}

	.medium_block {
		width: calc((100vw / 8) * 8);
		height: calc((100vw / 8) * 4);
		position: relative;
	}


	.large_block {
		width: calc((100vw / 8) * 8);
		height: calc((100vw / 8) * 4);
		position: relative;
	}

	.xl_block {
		width: 100vw;
		height: calc((100vw / 8) * 8);
		position: relative;
	}

	.firstrow,
	.secondrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr;
	}

	.firstrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.firstrow div:nth-child(2) {
		grid-column: 1 / 7;
		grid-row: 2 / 3;
	}

	.firstrow div:nth-child(3) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	/* TOPOF secondrow */

	.secondrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(3) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.secondrow div:nth-child(4) {
		display: none;
	}

	.secondrow div:nth-child(5) {
		grid-column: 4 / 7;
		grid-row: 2 / 3;
	}


	.secondrow div:last-child {
		display: none;
	}

	/* TOPOF thirdrow */

	.thirdrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr 1fr;
	}

	.thirdrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(3) {
		grid-column: 4 / 7;
		grid-row: 3 / 4;
	}

	.thirdrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}

	.thirdrow div:nth-child(5) {
		grid-column: 1 / 7;
		grid-row: 2 / 3;
	}

	.thirdrow div:last-child {
		display: none;
	}

	/* TOPOF forthrow */

	.forthrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}

	.forthrow div:first-child {
		grid-column: 1 / 7;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(2) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.forthrow div:nth-child(3) {
		grid-column: 1 / 7;
		grid-row: 3 / 5;
	}

	.forthrow div:nth-child(4) {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		grid-column: 4 / 7;
		grid-row: 2 / 3;
	}

	.forthrow div:last-child {
		grid-column: 1 / 7;
		grid-row: 5 / 6;
	}

	.footer_inner {
		display: none;
	}

	.footer_inner_mobile {
		width: 100%;
		height: calc(100% - 30px);
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		color: #fff;
		font-size: 13px;
		padding-top: 30px;
	}

	.footer_inner_mobile div:first-child {
		width: calc((100vw / 8) * 4);
	}

	.footer_inner_mobile p {
		margin: 0;
	}

	.footer_inner_mobile div:nth-child(2),
	.footer_inner_mobile div:last-child {
		width: calc((100vw / 8) * 2);
	}

	.footer_inner_mobile div:nth-child(2) p:first-child,
	.footer_inner_mobile div:nth-child(3) p:first-child {
		text-decoration:	underline;
	}

}



@media screen and (max-width: 415px) {
	.color_block {
		width: 100vw;
		height: 100vw;
	}

	.info_block {
		width: 100vw;
		height: 30vw;
		position: relative;
	}


	.info_block span {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 17px;
		font-weight: 400;
	}

	.small_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.info_detail {
		display: none;
	}

	.info_detail_mobile {
		width: 				100%;
		height: 			calc(100% - 25px);
		text-align: 		center;
		display: 			flex;
		flex-direction: 	row;
		justify-content: 	flex-start;
		align-items: 		flex-start;
		text-align: 		left;
		color:			 #fff;
		padding-top: 		25px;
		padding-left: 12px;
		font-size: 			12px;
	}

	.info_detail_mobile p {
		margin: 0;
		margin-bottom: 2.5px;
	}

	.info_detail_mobile div:nth-child(2),
	.info_detail_mobile div:last-child {
		width: 				calc((100vw / 8) * 2.5);
		padding-right: 		20px;
	}

	.info_detail_mobile div:nth-child(1) p:first-child,
	.info_detail_mobile div:nth-child(2) p:first-child {
		text-decoration:	underline;
		width: 				calc((100vw / 8) * 4);
	}
	.info_block > img {
		position: absolute;
		left: 15px;
		top: 15px;
		height: 32px;
	}

	.info_block span {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 20px;
		font-weight: 400;
	}

	#closeBtn {
		position: absolute;
		right: 15px;
		top: 12px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		top: 30vw;
		left: 0;
		height: 100vw;
		width: 100vw;
		z-index: 10;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
		overflow: hidden;
	}

	.overlay > p {
		width: calc(100% - 40px);
		padding: 12px;
		padding-top: 12px;
		line-height: 19px;
		font-size: 15px;
		margin: 0;
	}

	.medium_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.large_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.xl_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.firstrow,
	.secondrow,
	.thirdrow,
	.forthrow {
		display: flex;
		flex-direction: column;
	}

	.firstrow > div:nth-child(4) {
		display: none;
	}

	.forthrow div:nth-child(4) {
		width: 				calc((100vw / 8) * 8);
		height: 			calc((100vw / 8) * 8);
	}


	.footer_inner_mobile {
		width: 				100%;
		height: 			calc(100% - 25px);
		text-align: 		center;
		display: 			flex;
		flex-direction: 	row;
		justify-content: 	flex-start;
		align-items: 		flex-start;
		text-align: 		left;
		color:			 #fff;
		padding-top: 		25px;
		font-size: 			12px;
	}

	.footer_inner_mobile div:first-child {
		width: 				calc((100vw / 8) * 3);
	}

	.footer_inner_mobile p {
		margin: 			0;
	}

	.footer_inner_mobile div:nth-child(2),
	.footer_inner_mobile div:last-child {
		width: 				calc((100vw / 8) * 2.5);
		padding-right: 		20px;
	}

	.footer_inner_mobile div:nth-child(2) p:first-child,
	.footer_inner_mobile div:nth-child(3) p:first-child {
		text-decoration:	underline;
	}
}


