#body {
	width: 100%;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'Urbanist', sans-serif;
}

/* TOPOF COMMON */

.text_wrapper {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
}

.text_wrapper h1 {
		font-weight: bolder;
		color: #2A6EB1;
		line-height: 1.5em;
}

.text_wrapper span {
		font-size: 25px;
		font-weight: bolder;
}

.text_wrapper p {
		color: #7E7E7E;
		font-size: 18px;
		line-height: 1.8em;
		word-break: keep-all;
}

/* ENDOF COMMON */


/* TOPOF Slideshow */

.slideshow .floatText {
	position: absolute;
	z-index: 5;
	width: 550px;
	top: 80%;
	left: 50px;
	color: #fff;
}

.slideshow .floatText span {
	font-weight: bold;
	font-size: 23px;
}

.slideshow .floatText p {
	word-break: keep-all;
	font-size: 17px;
	line-height: 1.3em;
}

@media screen and (max-width: 770px) {
	.slideshow .floatText {
		position: absolute;
		z-index: 5;
		width: 80%;
		left: 10%;
		top: 65%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		text-align: center;
	}

	.slideshow .floatText span {
		font-weight: bold;
		font-size: 23px;
		word-break: keep-all;
	}

	.slideshow .floatText p {
		display: none;
	}

}

/* ENDOF Slideshow */

/* TOPOF Banner */

.banner_container {
	width: 100%;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.banner_container .banner_wrapper {
	width: 100%;
	height: 50%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;
    color: #fff;
	font-size: 1em;
	text-align: center;
}

.banner_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
	opacity: 0.7;
	filter: brightness(50%);
}

.banner_container .banner_wrapper h1,
.banner_container .banner_wrapper p
{
	width: 40%;
	line-height: 1.8em;
}

@media screen and (max-width: 770px) {
	.banner_container {
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.banner_container .banner_wrapper {
		width: 100%;
		height: 50%;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0.5em 1em;
		color: #fff;
		font-size: 1em;
		text-align: center;
	}

	.banner_container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		opacity: 0.7;
		filter: brightness(50%);
	}

	.banner_container .banner_wrapper h1
	{
		width: 100%;
		line-height: 1.8em;
		font-size: 23px;

	}

	.banner_container .banner_wrapper p {
		display: none;
	}
}

/* ENDOF Banner */

/* TOPOF Footer */

.footer_container {
	background-color: rgba(31, 31, 31, 1);
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: 'Urbanist', sans-serif;
}

.footer_inner {
	height: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer_inner div {
	margin-bottom: 2.5px;
}

.footer_inner span,
.footer_inner p {
	display: inline;
}

.footer_inner span {
	margin-right: 5px;
	font-weight: bold;
	color: #B7B7B7;
}

.footer_inner p {
	color: #7E7E7E;
	margin-right: 10px;
}

.footer_container .footer_inner .copyright {
	margin-top: 10px;
}

/* ENDOF Footer */

/* TOPOF company */

.company_container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.company_box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.company_box .text_wrapper {

	width: calc(60% - 5em);
	max-width: calc(60% - 5em);
	height: 100%;
	padding: 5em;
	margin: 0;
}

.company_box .img_wrapper {
	width: 40%;
	height: 300px;
}

.company_box .img_wrapper .img_area {
	width: 80%;
	height: 100%;
	border-radius: 50px;
	background-color: #F5F5F5;
}

@media screen and (max-width: 770px) {
	.company_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
	}

	.company_box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.company_box .text_wrapper {

		width: calc(100% - 5em);
		max-width: calc(100% - 5em);
		height: 100%;
		padding: 2.5em;
		margin: 0;
	}

	.company_box .img_wrapper {
		width: 100%;
		height: 300px;
	}

	.company_box .img_wrapper .img_area {
		width: 80%;
		height: 100%;
		border-radius: 50px;
		margin: 0 auto;
		background-color: #F5F5F5;
	}
}

/* ENDOF company */

/* TOPOF greeting */

.greeting_container {
	width: 70%;
	height: calc(100vh - 320px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
}

.greeting_container .greeting_wrapper {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
}

.greeting_container .greeting_wrapper h1 {
	font-weight: bolder;
	color: #2A6EB1;
	line-height: 1.5em;
}

.greeting_container .greeting_wrapper span {
	font-size: 25px;
	font-weight: bolder;
}

.greeting_container .greeting_wrapper p {
	color: #7E7E7E;
	font-size: 18px;
	line-height: 1.8em;
	word-break: keep-all;
}

.greeting_container .greeting_signature {
	height: 7%;
	width: 100%;
	text-align: right;
}

.greeting_container .greeting_signature span {
	font-weight: bolder;
	margin-right: 10px;
	color: #7E7E7E;
}
.greeting_container .greeting_signature img {
	height: 100%;
}

@media screen and (max-width: 770px) {
	.greeting_container {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		position: relative;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.greeting_container .greeting_wrapper {
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: column;
	}

	.greeting_container .greeting_wrapper h1 {
		font-weight: bolder;
		color: #2A6EB1;
		line-height: 1.5em;
		font-size: 23px;
	}

	.greeting_container .greeting_wrapper span {
		font-size: 20px;
		font-weight: bolder;
	}

	.greeting_container .greeting_wrapper p {
		color: #7E7E7E;
		font-size: 18px;
		line-height: 1.8em;
		word-break: keep-all;
	}

	.greeting_container .greeting_signature {
		height: 7%;
		width: 100%;
		text-align: right;
	}

	.greeting_container .greeting_signature span {
		font-weight: bolder;
		margin-right: 10px;
		color: #7E7E7E;
	}
	.greeting_container .greeting_signature img {
		height: 100%;
	}

}

/* ENDOF greeting */

/* TOPOF address */

.map_box {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map_box img {
	width: 80%;
	height: 80%;
	object-fit: cover;
}

/* ENDOF address */

/* TOPOF history */

.history_container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.history_title_wrapper {
	width: 80%;
	height: 240px;
	text-align: center;
	color: #2A6EB1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.history_title_wrapper h1 {
	line-height: 1.3em;
}




/* ENDOF history */


/* TOPOF contact */

.contact_container {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.contact_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
	opacity: 0.7;
	filter: brightness(50%);
}

.contact_container .contact_card {
	width: 40%;
	border-radius: 50px;
	background-color: #fff;
	height: 90%;
	position: absolute;
	z-index: 1;
}

.contact_container .contact_card .contact_card_title {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.contact_container .contact_card .contact_card_title h1 {
	color: #2A6EB1;
}

.contact_container .contact_card .contact_card_title p {
	color: #7E7E7E;
	font-size: 18px;
	line-height: 1.4em;
	word-break: keep-all;
}

.contact_container .contact_row {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.contact_container .contact_row .contact_row_item {
	height: 80px;
	display: flex;
	flex-direction: row;
	padding: 20px;
	border-bottom: 1px solid #2A6EB1;
}

.contact_container .contact_row .contact_row_item:last-child {
	border: none;
}

.contact_row_icon {
	width: 60px;
	margin-right: 15px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_row_info {
	width: calc(100% - 70px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact_row_info span {
	font-size: 21px;
	font-weight: bolder;
}

.contact_row_info p {
	font-size: 18px;
	color: #7E7E7E;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact_row_icon img {
	width: 60%;
	object-fit: contain;
}


@media screen and (max-width: 770px) {
	.contact_container {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.contact_container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		opacity: 0.7;
		filter: brightness(50%);
	}

	.contact_container .contact_card {
		width: 90%;
		border-radius: 50px;
		background-color: #fff;
		height: 80%;
		position: absolute;
		z-index: 1;
	}

	.contact_container .contact_card .contact_card_title {
		width: 80%;
		margin: 0 auto;
		padding: 1em;
		text-align: center;
	}

	.contact_container .contact_card .contact_card_title h1 {
		color: #2A6EB1;
	}

	.contact_container .contact_card .contact_card_title p {
		display: none;
	}

	.contact_container .contact_row {
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.contact_container .contact_row .contact_row_item {
		height: 80px;
		display: flex;
		flex-direction: row;
		padding: 20px;
		border-bottom: 1px solid #2A6EB1;
	}

	.contact_container .contact_row .contact_row_item:last-child {
		border: none;
	}

	.contact_row_icon {
		width: 40px;
		margin-right: 15px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contact_row_info {
		width: calc(100% - 50px);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.contact_row_info span {
		font-size: 18px;
		font-weight: bolder;
	}

	.contact_row_info p {
		font-size: 15px;
		color: #7E7E7E;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.contact_row_icon img {
		width: 60%;
		object-fit: contain;
	}
}



/* ENDOF contact */


/* TOPOF distribution */

.dist_container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	background-color: #EFEFEF;
	overflow-x: hidden;
}

.dist_container .dist_box {
	width: 33%;
	background-color: #fff;
	border-radius: 50px;
	margin: 30px;
	padding: 40px;
}

.dist_title {
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EFEFEF;
	padding-top: 20px;
}

.dist_title h1 {
	color:  #2A6EB1;
	font-size: 35px;
}

.dist_container .dist_box .text_wrapper {
	text-align: center;
	height: auto;
	padding-top: 40px;
}

.dist_container .dist_box .img_wrapper {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
}

.dist_container .dist_box .img_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dist_container .detail_button {
	width: 30%;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #2A6EB1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50px;
	color: #fff;
}

@media screen and (max-width: 770px) {
	.dist_container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-flow: wrap;
		background-color: #EFEFEF;
	}

	.dist_container .dist_box {
		width: 90%;
		background-color: #fff;
		border-radius: 50px;
		margin: 30px;
		padding: 40px;
	}

	.dist_title {
		width: 100%;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #EFEFEF;
		padding-top: 20px;
	}

	.dist_container .dist_box .text_wrapper {
		text-align: center;
		height: auto;
		padding-top: 40px;
	}

	.dist_container .dist_box .img_wrapper {
		width: 200px;
		height: 200px;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
	}

	.dist_container .dist_box .img_wrapper img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.dist_container .detail_button {
		width: 30%;
		margin: 0 auto;
		margin-top: 25px;
		background-color: #2A6EB1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 50px;
		color: #fff;
	}
}

/* ENDOF distribution */


/* TOPOF organization */

.organization_container {
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 150px;
}


.organization_title_wrapper {
	width: 80%;
	height: 240px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.organization_title_wrapper h1 {
	line-height: 1.3em;
	color: #2A6EB1;
}

.organization_title_wrapper p {
	display: block;
	font-size: 20px;
}


.organization_container div {
	width: 100%;
	height: auto;
	text-align: center;
}

.rectangle {
	margin: 0;
	border-radius: 20px;
}


.organization_container div li,
.organization_container div ol {
	list-style: none;
	padding: 0px;
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--level-1: #8dccad;
	--level-2: #f5cc7f;
	--level-3: #2A6EB1;
	--level-4: #f27c8d;
	--black: black;
  }

  .rectangle {
	position: relative;
	padding: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }


  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-1 {
	width: 50%;
	margin: 0 auto 40px;
	background: var(--level-1);
  }

  .level-1::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	width: 2px;
	height: 20px;
	background: var(--black);
  }


  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-2-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  }

  .level-2-wrapper::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 25%;
	width: 50%;
	height: 2px;
	background: var(--black);
  }

  .level-2-wrapper::after {
	display: none;
	content: "";
	position: absolute;
	left: -20px;
	bottom: -20px;
	width: calc(100% + 20px);
	height: 2px;
	background: var(--black);
  }

  .level-2-wrapper li {
	position: relative;
  }

  .level-2-wrapper-true > li::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	width: 2px;
	height: 20px;
	background: var(--black);
  }

  .level-2 {
	width: 70%;
	margin: 0 auto 40px;
	background: var(--level-2);
  }

  .level-2::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	width: 2px;
	height: 20px;
	background: var(--black);
  }

  .level-2::after {
	display: none;
	content: "";
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translate(-100%, -50%);
			transform: translate(-100%, -50%);
	width: 20px;
	height: 2px;
	background: var(--black);
  }


  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	width: 90%;
	margin: 0 auto;
  }

  .level-3-wrapper::before {
	content: "";
	position: absolute;
	top: -20px;
	left: calc(25% - 5px);
	width: calc(50% + 10px);
	height: 2px;
	background: var(--black);
  }

  .level-3-wrapper > li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
			transform: translate(-50%, -100%);
	width: 2px;
	height: 20px;
	background: var(--black);
  }

  .level-3 {
	margin-bottom: 20px;
	background: var(--level-3);
  }


  /* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-4-wrapper {
	position: relative;
	width: 100%;
	margin-left: auto;
  }

  .level-4-wrapper-true::before {
	content: "";
	position: absolute;
	top: -20px;
	left: -20px;
	width: 2px;
	height: calc(100% + 20px);
	background: var(--black);
  }

  .level-4-wrapper li + li {
	margin-top: 20px;
  }

  .level-4 {
	font-weight: normal;
	background: var(--level-4);
  }

  /* .level-4::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translate(-100%, -50%);
			transform: translate(-100%, -50%);
	width: 20px;
	height: 2px;
	background: var(--black);
  } */

@media screen and (max-width: 770px) {
	.rectangle {
	  padding: 20px 10px;
	}

	.level-1,
	.level-2 {
	  width: 90%;
	}

	.level-1 {
		width: 90%;
	  margin-bottom: 20px;
	}

	.level-1::before,
	.level-2-wrapper > li::before {
	  display: none;
	}

	.level-2-wrapper,
	.level-2::after {
	  display: block;
	}

	.level-2-wrapper::after {
		display: none;
	}

	.level-2-wrapper {
	  width: 100%;

	}

	.level-2-wrapper::before,
	.level-2::before,
	.level-2::after
	 {
	  display: none;
	}

	.level-2-wrapper > li:not(:first-child) {
	  margin-top: 50px;
	}

	.level-3-wrapper > li::before,
	.level-3-wrapper::before {
		display: none;
	}
  }

  /* ENDOF organization */
