@font-face {
    font-family: 	'Helvetica Neue Stmd';
    src: 			url('/static/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        			url('/static/fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 	normal;
    font-style: 	normal;
    font-display: 	swap;
}

@font-face {
    font-family: 	'Helvetica Neue Stbd';
    src: 			url('/static/fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        			url('/static/fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight:	normal;
    font-style: 	normal;
    font-display: 	swap;
}

* {
	font-family: 	'Helvetica Neue Stmd', sans-serif;
}

#body {
	width: 			calc(100% - 180px);
	height: 		auto;
	min-height: 	100vh;
	overflow-y: 	auto;
	overflow-x: 	hidden;
	display: 		flex;
	flex-flow: 		wrap;
	margin-right: 	90px;
	margin-left: 	90px;
	margin-top: 	40px;
	margin-bottom: 40px;
}

/* TOPOF Header */

.header_container {
	width: 			100%;
}

.header_container .header_inner {
	width: 			100%;
	display: 		flex;
	flex-direction: row;
}

.header_container .header_inner div:first-child {
	width: 			calc((100% / 8) * 5);
	margin: 		0;
}

.header_container .header_inner div:first-child h1 {
	font-size: 		25px;
	font-weight: 	normal;
	font-stretch: 	normal;
	font-style: 	normal;
	line-height: 	normal;
	letter-spacing: normal;
	color: 			#1a1919;
	margin:			0;
}

.header_container .header_inner div:last-child {
	width: 			calc((100% / 8) * 3);
	margin: 		0;
	text-align:		right;
}

.header_container .header_inner div:last-child span {
	font-size:		25px;
	margin-right:	5px;
}

.header_container .header_inner div:last-child span:last-child {
	margin:			0;
}



/* ENDOF Header */
