#body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	display: flex;
	flex-flow: wrap;
}

.color_block {
    background: linear-gradient(78deg, #0000ff, #1eced4, #e5f828, #ff5800);
    background-size: 800% 800%;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

.small_block,
.medium_block,
.large_block,
.xl_block {
	overflow: hidden;
}

.info_block > span {
	cursor: pointer;
}


@-webkit-keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}


.show {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,0.8);
	display: block !important;
	z-index: 5;
	color: #fff;
}

.container:hover .show {
	opacity: 1;
}

.container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}


/* TOPOF Footer */

.footer_container {
	background-color:#000000;
	height: 105px;
	font-size: 17px;
	padding-left: 20px;

}

.footer_inner {
	height: 80%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	color: #fff;
}

.footer_inner div {
	width: calc((100vw / 12) * 2);
	display: flex;
	flex-direction: column;
}

.footer_inner div:first-child {
	width: calc((100vw / 12) * 4);
}

.footer_inner div:first-child span {
	text-decoration: none;
}

.footer_inner span,
.footer_inner p {
	margin: 0;
	padding: 0;
}

.footer_inner span {
	margin-bottom: 2.5px;
	color: #fff;
	text-decoration: underline;
}

.footer_inner p {
	margin-right: 10px;
}

.footer_container .footer_inner .copyright {
	margin-top: 10px;
}



@media screen and (max-width: 770px) {
	.footer_inner div {
		width: calc((100vw / 8) * 2);
		display: flex;
		flex-direction: column;
	}

	.footer_inner div:first-child {
		width: calc((100vw / 8) * 4);
	}

	.footer_inner div:nth-child(4),
	.footer_inner div:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 385px) {}

/* ENDOF Footer */

@media screen and (min-width: 771px) and (max-width: 1459px) {
.color_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
}

.info_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
	position: relative;
}



.overlay {
	position: absolute;
	top: 0;
	left: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 8);
	width: calc((100vw / 12) * 8);
	z-index: 10;
	display: block !important;
	color: #fff;
	transition: .5s ease;
	background-color: #000000;
  }

  .overlay > p {
	  width: 75%;
	  padding-left: 30px;
	  padding-top: 26px;
	  line-height: 31px;
	  font-size: 25px;
  }

  .overlay > span {
	  position: absolute;
	  right: 15px;
	  top: 15px;
	  width: 30px;
	  cursor: pointer;
  }

.info_block img {
	position: absolute;
	left: 15px;
	top: 15px;
	height: 60px;
}

.info_block span {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
	font-weight: 400;
}

.small_block {
	width: calc((100vw / 12) * 4);
	height: calc((100vw / 12) * 4);
	position: relative;
}

.medium_block {
	width: calc((100vw / 12) * 8);
	height: calc((100vw / 12) * 4);
	position: relative;
}


.large_block {
	width: calc((100vw / 12) * 8);
	height: calc((100vw / 12) * 8);
	position: relative;
}

.xl_block {
	width: 100vw;
	height: calc((100vw / 12) * 8);
	position: relative;
}

.firstrow,
.secondrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr;
}

.firstrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.firstrow div:nth-child(2) {
	grid-column: 4 / 11;;
	grid-row: 1 / 3;
}


.firstrow div:nth-child(3) {
	grid-column: 1 / 4;
	grid-row:2/3;
}



.secondrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(2) {
	grid-column: 4 / 7;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(3) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.secondrow div:nth-child(4) {
	grid-column: 1 / 8;
	grid-row: 2 / 3;
}

.secondrow div:nth-child(5) {
	grid-column: 7 / 11;
	grid-row: 2 / 3;
}

.secondrow div:last-child {
	display: none;
}

.thirdrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr 1fr;
}

.thirdrow div:first-child {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(2) {
	grid-column: 4 / 7;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(3) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.thirdrow div:nth-child(4) {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.thirdrow div:nth-child(5) {
	grid-column: 4 / 11;
	grid-row: 2 / 4;
}

.thirdrow div:last-child {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

.forthrow {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.forthrow div:first-child {
	grid-column: 1 / 7;
	grid-row: 1 / 2;
}

.forthrow div:nth-child(2) {
	grid-column: 7 / 11;
	grid-row: 1 / 2;
}

.forthrow div:nth-child(3) {
	grid-column: 1 / 11;
	grid-row: 2 / 4;
}

.forthrow div:nth-child(4) {
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}

.forthrow div:last-child {
	grid-column: 4 / 11;
	grid-row: 4 / 5;
}
}

@media screen and (min-width: 1460px) {
	.color_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
	}

	.info_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.info_block img {
		position: absolute;
		left: 15px;
		top: 15px;
		height: 46px;
	}

	.info_block span {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 17px;
		font-weight: 400;
	}


	.overlay {
		position: absolute;
		top: 0;
		left: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 8);
		width: calc((50vw / 12) * 8);
		z-index: 10;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
	}

	.overlay > p {
		width: 85%;
		padding-left: 30px;
		padding-top: 15px;
		line-height: 26px;
		font-size: 20px;
	}

	.overlay > span {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		cursor: pointer;
	}

	.small_block {
		width: calc((50vw / 12) * 4);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.medium_block {
		width: calc((50vw / 12) * 8);
		height: calc((50vw / 12) * 4);
		position: relative;
	}


	.large_block {
		width: calc((50vw / 12) * 8);
		height: calc((50vw / 12) * 4);
		position: relative;
	}

	.xl_block {
		width: 50vw;
		height: calc((50vw / 12) * 8);
		position: relative;
	}

	.firstrow {
		order: 1;
		width: 50vw;
		max-width: 50vw;
	}

	.secondrow {
		order: 3;
		width: 50vw;
		max-width: 50vw;
	}

	.thirdrow {
		order: 2;
		width: 50vw;
		max-width: 50vw;
	}

	.forthrow {
		order: 4;
		width: 50vw;
		max-width: 50vw;
	}

	.firstrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows:  1fr 1fr;
	}

	.firstrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.firstrow div:nth-child(2) {
		grid-column: 4 / 11;
		grid-row: 1 / 2;
	}

	.firstrow div:nth-child(3) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.firstrow div:last-child {
		grid-column: 4 / 11;
		grid-row: 2 / 3;
	}

	.secondrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(3) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(4) {
		grid-column: 1 / 8;
		grid-row: 2 / 3;
	}

	.secondrow div:nth-child(5) {
		grid-column: 7 / 11;
		grid-row: 2 / 3;
	}

	.secondrow div:last-child {
		grid-column: 1 / 11;
		grid-row: 3 / 5;
	}

	.secondrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows:  1fr 1fr 1fr 1fr;
	}


	.thirdrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: 1fr 1fr;
	}

	.thirdrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(3) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.thirdrow div:nth-child(5) {
		grid-column: 4 / 11;
		grid-row: 2 / 3;
	}


	.thirdrow div:last-child{
		display: none;
	}

	.forthrow {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.forthrow div:first-child {
		grid-column: 1 / 7;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(2) {
		grid-column: 7 / 11;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(3) {
		grid-column: 1 / 11;
		grid-row: 2 / 4;
	}

	.forthrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 4 / 5;
	}

	.forthrow div:last-child {
		grid-column: 4 / 11;
		grid-row: 4 / 5;
	}
}


@media screen and (max-width: 770px) {
	.color_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
	}

	.info_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		position: relative;
	}

	.info_block img {
		position: absolute;
		left: 15px;
		top: 15px;
		height: 46px;
	}

	.info_block span {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 17px;
		font-weight: 400;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		width: calc((100vw / 8) * 4);
		z-index: 20;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
	}

	.overlay > p {
		width: calc(100% - 60px);
		padding: 30px;
		padding-top: 20px;
		line-height: 19px;
		font-size: 15px;
	}

	.overlay > span {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		cursor: pointer;
	}

	.small_block {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		position: relative;
	}

	.medium_block {
		width: calc((100vw / 8) * 8);
		height: calc((100vw / 8) * 4);
		position: relative;
	}


	.large_block {
		width: calc((100vw / 8) * 8);
		height: calc((100vw / 8) * 4);
		position: relative;
	}

	.xl_block {
		width: 100vw;
		height: calc((100vw / 8) * 8);
		position: relative;
	}

	.firstrow,
	.secondrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr;
	}

	.firstrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.firstrow div:nth-child(2) {
		grid-column: 1 / 7;
		grid-row: 2 / 3;
	}

	.firstrow div:nth-child(3) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	/* TOPOF secondrow */

	.secondrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.secondrow div:nth-child(3) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.secondrow div:nth-child(4) {
		display: none;
	}

	.secondrow div:nth-child(5) {
		grid-column: 4 / 7;
		grid-row: 2 / 3;
	}


	.secondrow div:last-child {
		display: none;
	}

	/* TOPOF thirdrow */

	.thirdrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr 1fr;
	}

	.thirdrow div:first-child {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(2) {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}

	.thirdrow div:nth-child(3) {
		grid-column: 4 / 7;
		grid-row: 3 / 4;
	}

	.thirdrow div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}

	.thirdrow div:nth-child(5) {
		grid-column: 1 / 7;
		grid-row: 2 / 3;
	}

	.thirdrow div:last-child {
		display: none;
	}

	/* TOPOF forthrow */

	.forthrow {
		display: grid;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}

	.forthrow div:first-child {
		grid-column: 1 / 7;
		grid-row: 1 / 2;
	}

	.forthrow div:nth-child(2) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.forthrow div:nth-child(3) {
		grid-column: 1 / 7;
		grid-row: 3 / 5;
	}

	.forthrow div:nth-child(4) {
		width: calc((100vw / 8) * 4);
		height: calc((100vw / 8) * 4);
		grid-column: 4 / 7;
		grid-row: 2 / 3;
	}

	.forthrow div:last-child {
		grid-column: 1 / 7;
		grid-row: 5 / 6;
	}


}



@media screen and (max-width: 385px) {
	.color_block {
		width: 100vw;
		height: 100vw;
	}

	.info_block {
		width: 100vw;
		height: 30vw;
		position: relative;
	}

	.info_block img {
		position: absolute;
		left: 10px;
		top: 10px;
		height: 32px;
	}

	.info_block span {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 17px;
		font-weight: 400;
	}

	.small_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}


	.overlay {
		position: absolute;
		top: 30vw;
		left: 0;
		height: 100vw;
		width: 100vw;
		z-index: 10;
		display: block !important;
		color: #fff;
		transition: .5s ease;
		background-color: #000000;
	}

	.overlay > p {
		width: calc(100% - 60px);
		padding: 30px;
		padding-top: 20px;
		line-height: 19px;
		font-size: 15px;
	}

	.overlay > span {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		cursor: pointer;
	}

	.medium_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}


	.large_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.xl_block {
		width: 100vw;
		height: 100vw;
		position: relative;
	}

	.firstrow,
	.secondrow,
	.thirdrow,
	.forthrow {
		display: flex;
		flex-direction: column;
	}

}


